#comments{
  background-color: #fff;
  padding-left: 10px;
}

.comment-form{
  display: block;
}

.comment-text{
  display: block;
  margin-top: 20px;
}

.comment-submit{
  display: block;
  margin: 20px auto;
  background-color: #51b0e4;
  color: #fff;
}

.comment{
  display: flex;
}

.comment p{
   margin: 0;
}

.user-info{
  color: gray;
  font-weight: bold;
}

