#detailed-search-wrapper{
  display:flex;
  justify-content: center;
}

#detailed-search-form{
  background-color: white;
  width: 100%;
  padding: 10px 0 10px 10px;

}

#q_title{
  width: 200px;
}

#q_user_nickname_cont{
  width: 200px;
}

.search-field{
  margin: 0.5rem 0;
}

#detailed-search-result-wrapper{
  width: 80%;
  display: block;
  margin: 0 auto;
}

.list{
  list-style: none;
}

#detailed-search-result{
  width: 100%;
  display: flex;
}

.posted-content{
  margin: 10px;
  width: 200px;
}

.check_lb {
  display:block;
}

#post_search{
  display: flex;
}

.submit{
  width: 200%;
}

.search_page {
  text-align: center;
  padding: 10px 0;
}

