<div class="square_box"></div>
<ul class="contents">
  <% @categories.each do |category| %>
    <li class="content_post">
    <div class="output_image">
        <%= category.image %>
        </div>
      <p class="name">
      <%# <a href="/categories/<%= therapy.category.id %>
        <%= category.name %>
      </p>
    </li>
  <% end %>
  </ul>
</div>